<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualala.openapiPlatform.mapper.BfPredictMapper">
  <resultMap id="BaseResultMap" type="com.hualala.openapiPlatform.model.dto.BfPredict">
    <!--
      WARNING - @mbg.generated
      (The SQLs for Query)
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="countyName" jdbcType="CHAR" property="countyname" />
    <result column="foodstampRate" jdbcType="CHAR" property="foodstamprate" />
    <result column="povertyRate" jdbcType="CHAR" property="povertyrate" />
    <result column="malePovertyRate" jdbcType="CHAR" property="malepovertyrate" />
    <result column="femalePovertyRate" jdbcType="CHAR" property="femalepovertyrate" />
    <result column="underhighschoolPovertyRate" jdbcType="CHAR" property="underhighschoolpovertyrate" />
    <result column="highschoolPovertyRate" jdbcType="CHAR" property="highschoolpovertyrate" />
    <result column="collegePovertyRate" jdbcType="CHAR" property="collegepovertyrate" />
    <result column="bachelorPovertyRate" jdbcType="CHAR" property="bachelorpovertyrate" />
    <result column="disabilityCorelation" jdbcType="CHAR" property="disabilitycorelation" />
    <result column="avgHouseAgeCorelation" jdbcType="CHAR" property="avghouseagecorelation" />
    <result column="avgFuelUseageCorelation" jdbcType="CHAR" property="avgfueluseagecorelation" />
    <result column="fulljobCorelation" jdbcType="CHAR" property="fulljobcorelation" />
    <result column="partjobCorelation" jdbcType="CHAR" property="partjobcorelation" />
    <result column="nojobCorelation" jdbcType="CHAR" property="nojobcorelation" />
    <result column="population" jdbcType="CHAR" property="population" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, countyName, foodstampRate, povertyRate, malePovertyRate, femalePovertyRate, underhighschoolPovertyRate, 
    highschoolPovertyRate, collegePovertyRate, bachelorPovertyRate, disabilityCorelation, 
    avgHouseAgeCorelation, avgFuelUseageCorelation, fulljobCorelation, partjobCorelation, 
    nojobCorelation, population, status
  </sql>
  <select id="selectByExample" parameterType="com.hualala.openapiPlatform.model.dto.BfPredictExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bfpredict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from bfpredict
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from bfpredict
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hualala.openapiPlatform.model.dto.BfPredictExample">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from bfpredict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hualala.openapiPlatform.model.dto.BfPredict">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into bfpredict (id, countyName, foodstampRate, 
      povertyRate, malePovertyRate, femalePovertyRate, 
      underhighschoolPovertyRate, highschoolPovertyRate, 
      collegePovertyRate, bachelorPovertyRate, disabilityCorelation, 
      avgHouseAgeCorelation, avgFuelUseageCorelation, 
      fulljobCorelation, partjobCorelation, nojobCorelation, 
      population, status)
    values (#{id,jdbcType=BIGINT}, #{countyname,jdbcType=CHAR}, #{foodstamprate,jdbcType=CHAR}, 
      #{povertyrate,jdbcType=CHAR}, #{malepovertyrate,jdbcType=CHAR}, #{femalepovertyrate,jdbcType=CHAR}, 
      #{underhighschoolpovertyrate,jdbcType=CHAR}, #{highschoolpovertyrate,jdbcType=CHAR}, 
      #{collegepovertyrate,jdbcType=CHAR}, #{bachelorpovertyrate,jdbcType=CHAR}, #{disabilitycorelation,jdbcType=CHAR}, 
      #{avghouseagecorelation,jdbcType=CHAR}, #{avgfueluseagecorelation,jdbcType=CHAR}, 
      #{fulljobcorelation,jdbcType=CHAR}, #{partjobcorelation,jdbcType=CHAR}, #{nojobcorelation,jdbcType=CHAR}, 
      #{population,jdbcType=CHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hualala.openapiPlatform.model.dto.BfPredict">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into bfpredict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="countyname != null">
        countyName,
      </if>
      <if test="foodstamprate != null">
        foodstampRate,
      </if>
      <if test="povertyrate != null">
        povertyRate,
      </if>
      <if test="malepovertyrate != null">
        malePovertyRate,
      </if>
      <if test="femalepovertyrate != null">
        femalePovertyRate,
      </if>
      <if test="underhighschoolpovertyrate != null">
        underhighschoolPovertyRate,
      </if>
      <if test="highschoolpovertyrate != null">
        highschoolPovertyRate,
      </if>
      <if test="collegepovertyrate != null">
        collegePovertyRate,
      </if>
      <if test="bachelorpovertyrate != null">
        bachelorPovertyRate,
      </if>
      <if test="disabilitycorelation != null">
        disabilityCorelation,
      </if>
      <if test="avghouseagecorelation != null">
        avgHouseAgeCorelation,
      </if>
      <if test="avgfueluseagecorelation != null">
        avgFuelUseageCorelation,
      </if>
      <if test="fulljobcorelation != null">
        fulljobCorelation,
      </if>
      <if test="partjobcorelation != null">
        partjobCorelation,
      </if>
      <if test="nojobcorelation != null">
        nojobCorelation,
      </if>
      <if test="population != null">
        population,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="countyname != null">
        #{countyname,jdbcType=CHAR},
      </if>
      <if test="foodstamprate != null">
        #{foodstamprate,jdbcType=CHAR},
      </if>
      <if test="povertyrate != null">
        #{povertyrate,jdbcType=CHAR},
      </if>
      <if test="malepovertyrate != null">
        #{malepovertyrate,jdbcType=CHAR},
      </if>
      <if test="femalepovertyrate != null">
        #{femalepovertyrate,jdbcType=CHAR},
      </if>
      <if test="underhighschoolpovertyrate != null">
        #{underhighschoolpovertyrate,jdbcType=CHAR},
      </if>
      <if test="highschoolpovertyrate != null">
        #{highschoolpovertyrate,jdbcType=CHAR},
      </if>
      <if test="collegepovertyrate != null">
        #{collegepovertyrate,jdbcType=CHAR},
      </if>
      <if test="bachelorpovertyrate != null">
        #{bachelorpovertyrate,jdbcType=CHAR},
      </if>
      <if test="disabilitycorelation != null">
        #{disabilitycorelation,jdbcType=CHAR},
      </if>
      <if test="avghouseagecorelation != null">
        #{avghouseagecorelation,jdbcType=CHAR},
      </if>
      <if test="avgfueluseagecorelation != null">
        #{avgfueluseagecorelation,jdbcType=CHAR},
      </if>
      <if test="fulljobcorelation != null">
        #{fulljobcorelation,jdbcType=CHAR},
      </if>
      <if test="partjobcorelation != null">
        #{partjobcorelation,jdbcType=CHAR},
      </if>
      <if test="nojobcorelation != null">
        #{nojobcorelation,jdbcType=CHAR},
      </if>
      <if test="population != null">
        #{population,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hualala.openapiPlatform.model.dto.BfPredictExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from bfpredict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update bfpredict
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.countyname != null">
        countyName = #{record.countyname,jdbcType=CHAR},
      </if>
      <if test="record.foodstamprate != null">
        foodstampRate = #{record.foodstamprate,jdbcType=CHAR},
      </if>
      <if test="record.povertyrate != null">
        povertyRate = #{record.povertyrate,jdbcType=CHAR},
      </if>
      <if test="record.malepovertyrate != null">
        malePovertyRate = #{record.malepovertyrate,jdbcType=CHAR},
      </if>
      <if test="record.femalepovertyrate != null">
        femalePovertyRate = #{record.femalepovertyrate,jdbcType=CHAR},
      </if>
      <if test="record.underhighschoolpovertyrate != null">
        underhighschoolPovertyRate = #{record.underhighschoolpovertyrate,jdbcType=CHAR},
      </if>
      <if test="record.highschoolpovertyrate != null">
        highschoolPovertyRate = #{record.highschoolpovertyrate,jdbcType=CHAR},
      </if>
      <if test="record.collegepovertyrate != null">
        collegePovertyRate = #{record.collegepovertyrate,jdbcType=CHAR},
      </if>
      <if test="record.bachelorpovertyrate != null">
        bachelorPovertyRate = #{record.bachelorpovertyrate,jdbcType=CHAR},
      </if>
      <if test="record.disabilitycorelation != null">
        disabilityCorelation = #{record.disabilitycorelation,jdbcType=CHAR},
      </if>
      <if test="record.avghouseagecorelation != null">
        avgHouseAgeCorelation = #{record.avghouseagecorelation,jdbcType=CHAR},
      </if>
      <if test="record.avgfueluseagecorelation != null">
        avgFuelUseageCorelation = #{record.avgfueluseagecorelation,jdbcType=CHAR},
      </if>
      <if test="record.fulljobcorelation != null">
        fulljobCorelation = #{record.fulljobcorelation,jdbcType=CHAR},
      </if>
      <if test="record.partjobcorelation != null">
        partjobCorelation = #{record.partjobcorelation,jdbcType=CHAR},
      </if>
      <if test="record.nojobcorelation != null">
        nojobCorelation = #{record.nojobcorelation,jdbcType=CHAR},
      </if>
      <if test="record.population != null">
        population = #{record.population,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update bfpredict
    set id = #{record.id,jdbcType=BIGINT},
      countyName = #{record.countyname,jdbcType=CHAR},
      foodstampRate = #{record.foodstamprate,jdbcType=CHAR},
      povertyRate = #{record.povertyrate,jdbcType=CHAR},
      malePovertyRate = #{record.malepovertyrate,jdbcType=CHAR},
      femalePovertyRate = #{record.femalepovertyrate,jdbcType=CHAR},
      underhighschoolPovertyRate = #{record.underhighschoolpovertyrate,jdbcType=CHAR},
      highschoolPovertyRate = #{record.highschoolpovertyrate,jdbcType=CHAR},
      collegePovertyRate = #{record.collegepovertyrate,jdbcType=CHAR},
      bachelorPovertyRate = #{record.bachelorpovertyrate,jdbcType=CHAR},
      disabilityCorelation = #{record.disabilitycorelation,jdbcType=CHAR},
      avgHouseAgeCorelation = #{record.avghouseagecorelation,jdbcType=CHAR},
      avgFuelUseageCorelation = #{record.avgfueluseagecorelation,jdbcType=CHAR},
      fulljobCorelation = #{record.fulljobcorelation,jdbcType=CHAR},
      partjobCorelation = #{record.partjobcorelation,jdbcType=CHAR},
      nojobCorelation = #{record.nojobcorelation,jdbcType=CHAR},
      population = #{record.population,jdbcType=CHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hualala.openapiPlatform.model.dto.BfPredict">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update bfpredict
    <set>
      <if test="countyname != null">
        countyName = #{countyname,jdbcType=CHAR},
      </if>
      <if test="foodstamprate != null">
        foodstampRate = #{foodstamprate,jdbcType=CHAR},
      </if>
      <if test="povertyrate != null">
        povertyRate = #{povertyrate,jdbcType=CHAR},
      </if>
      <if test="malepovertyrate != null">
        malePovertyRate = #{malepovertyrate,jdbcType=CHAR},
      </if>
      <if test="femalepovertyrate != null">
        femalePovertyRate = #{femalepovertyrate,jdbcType=CHAR},
      </if>
      <if test="underhighschoolpovertyrate != null">
        underhighschoolPovertyRate = #{underhighschoolpovertyrate,jdbcType=CHAR},
      </if>
      <if test="highschoolpovertyrate != null">
        highschoolPovertyRate = #{highschoolpovertyrate,jdbcType=CHAR},
      </if>
      <if test="collegepovertyrate != null">
        collegePovertyRate = #{collegepovertyrate,jdbcType=CHAR},
      </if>
      <if test="bachelorpovertyrate != null">
        bachelorPovertyRate = #{bachelorpovertyrate,jdbcType=CHAR},
      </if>
      <if test="disabilitycorelation != null">
        disabilityCorelation = #{disabilitycorelation,jdbcType=CHAR},
      </if>
      <if test="avghouseagecorelation != null">
        avgHouseAgeCorelation = #{avghouseagecorelation,jdbcType=CHAR},
      </if>
      <if test="avgfueluseagecorelation != null">
        avgFuelUseageCorelation = #{avgfueluseagecorelation,jdbcType=CHAR},
      </if>
      <if test="fulljobcorelation != null">
        fulljobCorelation = #{fulljobcorelation,jdbcType=CHAR},
      </if>
      <if test="partjobcorelation != null">
        partjobCorelation = #{partjobcorelation,jdbcType=CHAR},
      </if>
      <if test="nojobcorelation != null">
        nojobCorelation = #{nojobcorelation,jdbcType=CHAR},
      </if>
      <if test="population != null">
        population = #{population,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hualala.openapiPlatform.model.dto.BfPredict">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update bfpredict
    set countyName = #{countyname,jdbcType=CHAR},
      foodstampRate = #{foodstamprate,jdbcType=CHAR},
      povertyRate = #{povertyrate,jdbcType=CHAR},
      malePovertyRate = #{malepovertyrate,jdbcType=CHAR},
      femalePovertyRate = #{femalepovertyrate,jdbcType=CHAR},
      underhighschoolPovertyRate = #{underhighschoolpovertyrate,jdbcType=CHAR},
      highschoolPovertyRate = #{highschoolpovertyrate,jdbcType=CHAR},
      collegePovertyRate = #{collegepovertyrate,jdbcType=CHAR},
      bachelorPovertyRate = #{bachelorpovertyrate,jdbcType=CHAR},
      disabilityCorelation = #{disabilitycorelation,jdbcType=CHAR},
      avgHouseAgeCorelation = #{avghouseagecorelation,jdbcType=CHAR},
      avgFuelUseageCorelation = #{avgfueluseagecorelation,jdbcType=CHAR},
      fulljobCorelation = #{fulljobcorelation,jdbcType=CHAR},
      partjobCorelation = #{partjobcorelation,jdbcType=CHAR},
      nojobCorelation = #{nojobcorelation,jdbcType=CHAR},
      population = #{population,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.hualala.openapiPlatform.model.dto.BfPredictExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bfpredict
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <cache>
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
  </cache>
</mapper>